

body {
  font-family: 'Vollkorn', serif;
  font-family: 'Fira Sans', serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  color: #999;
  background-color: #313131;
}

h1, h2 {
  font-size: 2em;
}

h1 {
  margin-top: 0;
  margin-bottom: -0.25em;
}

.container {
  width: 300px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.cost-container {
  padding-right: 0em;
}

.cost-container input {
  width: 100%;
  height: 1.5em;
  font-family: 'Vollkorn', serif;
  font-family: 'Fira Sans', serif;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  border-radius: 8px;
  margin: 0.5em 0 0;
  background-color: #595552;
  color: red;
  border: none;

  line-height: 1.5em;

  /* -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */
  /* box-shadow: inset 0 1px 1px rgba(0,0,0,.075); */

  /* -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
  /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}

.cost-container input:focus {
  outline: none;
}


.rate-container {
  display: table;
  padding: 1em 0;
  width: 100%;
}

.rate-container > * {
  display: table-cell;
  width: 33.33333%;
}

span.rate-choice {
  padding: 0.5em 1em;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999;
  border-left: 2px solid #999;
}

span.rate-choice:hover {
  cursor: pointer;
}

span.rate-choice.selected {
  background-color: #595552;
}

span.rate-choice:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

span.rate-choice:last-child {
  border-right: 2px solid #999;

  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.true-cost-container {
  text-align: center;
  padding: 1em 0;
  color: #50bf32;
}

.true-cost-dollars {
  font-size: 3em;
  font-weight: 700;
  line-height: 1em;
  padding-bottom: 0.05em;
}

.true-cost-years {
  color: #999;
}

.footer {
  font-size: 0.75em;
  margin-top: 2em;
  color: #666;
}
